# Ignore Python virtual environment
venv/
env/
.env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore log files
*.log

# Ignore older stuff & outputs
older/
output/

Futures_Feeds-old.opml
keywords.txt.save
